<% @errors.each do |error| %>
  <h2><%= error %></h2>
<% end %>

<h1>Add to the Collection</h1>

<%= form_tag "/stamps", method: :post do %>
  <div>
    Stamp Name: <input type="text" name="name" value="<%= @stamp.name %>">
  </div>
 <div>
    Year: <input type="text" name="year" value="<%= @stamp.year %>">
  </div>
  <div>
    Image URL: <input type="text" name="image" value="<%= @stamp.image %>">
  </div>
   <div>
    Price: <input type="integer" name="price" value="<%= @stamp.price %>">
  </div>
   <div>
    Description: <input type="text" name="description" value="<%= @stamp.description %>">
  </div>
  <input type="submit" value="Add Stamp">

<% end %>
